@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
/* roots*/
:root {
  --dark-blue: #262e38;
  --very-dark-blue: #131518;
  --pure-white: #ffffff;
  --light-grey: #969fad;
  --oragne: #fc7614;
}
body {
  font-family: "Overpass", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--very-dark-blue);
}
.main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 32px;
  max-width: 416px;
  height: 416px;
  border-radius: 30px;
  background: radial-gradient(
    99.92% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
}
.circle {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--pure-white);
}
.info p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--light-grey);
  max-width: 340px;
}
.rating-buttons-div {
  max-width: 341px;
  height: 51px;
  display: flex;
  justify-content: space-between;
}
.rating-btn {
  width: 51px;
  height: 51px;
  border-radius: 100%;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--light-grey);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  border: none;
  transition: 0.2s all ease-in-out;
}
.rating-btn:hover {
  background-color: var(--oragne);
  color: var(--dark-blue);
  transition: 0.2s all ease-in-out;
}
.rating-btn:active {
  background-color: var(--pure-white);
  transition: 0.2s all ease-in-out;
}
.rating-btn.selected {
  background-color: var(--pure-white);
  color: var(--dark-blue);
}
#submitBtn {
  max-width: 341px;
  height: 45px;
  border-radius: 22.5px;
  background-color: var(--oragne);
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 2px;
  color: var(--very-dark-blue);
  border: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
#submitBtn:hover {
  background-color: var(--pure-white);
  transition: 0.2s all ease-in-out;
}
.thanks-page {
  max-width: 412px;
  height: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 32px;
  border-radius: 30px;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  display: none;
}
.response {
  width: 193px;
  height: 32px;
  border-radius: 22.5px;
  background-color: var(--dark-blue);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--oragne);
}
.ty-h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--pure-white);
}
.thanks-text {
  max-width: 340px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--light-grey);
}

@media screen and (max-width: 420px) {
  .main-div {
    width: 270px;
  }
  .thanks-page {
    width: 270px;
  }
}
